#Global
bin/
target/

#Intellij
.idea/

#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Eclipse/STS
.classpath
.settings
.project

#Gradle
gradle/
settings.gradle
gradlew
gradlew.bat
